pyrogram==2.0.106
TgCrypto==1.2.5
pyromod==3.1.6
pymongo==4.8.0
motor==3.5.1
umongo==3.1.0
dnspython==2.6.1
marshmallow==3.21.3
pytz==2024.1
requests==2.32.3
beautifulsoup4==4.13.0
shortzy==0.0.8
aiohttp==3.10.1
aiofiles==24.1.0
